.DS_Store
AppSupport
nvim/.config/nvim/plugin
nvim/.config/nvim/spell
vifm/.config/vifm/vifminfo.json

.netrwhist
nvim/.config/nvim/sessions

pgcli/.config/pgcli/history
pgcli/.config/pgcli/log
vifm/.config/vifm/vifminfo
vifm/.config/vifm/vifminfo.json
tags
