snippet daily "Daily time tracking"

## `!v strftime("%d.%m.%Y")`

1. ${1:Провели планерку} \`${2:0}:${3:00}\`$0

**Общее** \`$2:$3\`

---

endsnippet

snippet task "Single task"
${1:Task description} \`${2:${3:0}:${4:00}}\`
endsnippet
