snippet daily "Daily time tracking"

## `!v strftime("%d.%m.%Y")`

1. ${1:Планерка} \`${2:${3:0}:${4:00}}\`$0

**Общее** \`${2:${3:0}:${4:00}}\`

---

endsnippet

snippet task "Single task"
${1:Task description} \`${2:${3:0}:${4:00}}\`
endsnippet
